<h1>We found...</h1>
<div class="results">
<h2><%= @property.address[:street] %> <%= @property.address[:city] %>, <%= @property.address[:state] %> <%= @property.address[:zipcode] %></h2>
<h2>Low: <%= number_to_currency(@property.valuation_range[:low]) %></h2>
<h2>Med: <%= number_to_currency(@property.price) %></h2>
<h2>High: <%= number_to_currency(@property.valuation_range[:high]) %></h2>
</div>


<p><%= link_to "Search for another property", root_path %></p>