<%= form_for([:admin, @prospect]) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.telephone_field :street %>
  </div>
  <div class="field">
    <%= f.label :citystatezip %><br>
    <%= f.telephone_field :citystatezip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.select :reason, ["Selling in 30 Days", "Selling in 60 Days", "Selling in 3-6 Months", "Selling in 6-12 Months", "Just Curious", "Refinancing"], :prompt => 'Reason for value:' %>
  </div>
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>
