<h1>Listing prospects</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.name %></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.phone %></td>
        <td><%= prospect.reason %></td>
        <td><%= link_to 'Show', admin_prospect_path(prospect) %></td>
        <td><%= link_to 'Edit', edit_admin_prospect_path(prospect) %></td>
        <td><%= link_to 'Destroy', admin_prospect_path(prospect), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_admin_prospect_path %>
