<!DOCTYPE html>
<html>
<head>
  <title>Realtor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>


<body>


<%= yield %>


	
	
			<div class="navbar transparent navbar-bottom">
				<p>Raymond Ray | Realty Executives | 616-212-1016 | BRE # 01152239<br> © 2014 <%= link_to "TallKeith", "www.tallkeith.com" %>
			</div>
		
</body>
</html>
